@charset "UTF-8";
/**
*   Cores Padrões
*   Vermelho:#d63031
*   Verde:#55efc4
*   Azul:#0984e3
*   Cinza Claro:#dfe6e9
*   Verde Claro:#00b894
*   Ciano:#d8f7ed
**/

body{
background:#d8f7ed url('../background.png') 0 0 no-repeat;
background-size:cover;
font-family:'loguetown'
}
.wrapp{
  width: 100%;
  overflow: hidden;
}
h3{
  font-size:5rem;
  color:#204a87
}
.operacao{
  font-size:10rem;
  letter-spacing: 2rem;
  text-shadow:0 0 2px rgba(0,0,0,.7)
}
.btn-primary{
  background-color: #204a87
}
.btn{
  font-size:2rem
}
.sprite{
background:transparent url('../sprite.png') 0 0 no-repeat;
display:inline-block;
position:absolute;
}
.sprite.logo{
width:349px;
height:117px;
bottom:1rem;
left:1rem;
background-size:100%;
}
.sprite.escola{
width:170px;
height:208px;
bottom:1rem;
right:1rem;
background-position-y:-145px
}
.int,.plus,.equal{

}
.sprite.int{
background-position-y: -354px;
width: 76px;
height: 107px;
}
.sprite.plus{
background-position-y: -461px;
width: 56px;
height: 59px;
}
.sprite.equal{
background-position-y: -520px;
width: 76px;
height: 57px;
}
.wrapp .letras{
width:3rem;
display:inline-block;
position:absolute;
}
.letras.dir{
right:4rem
}
input{
  border: 2px solid #204a87;
  border-radius: 6rem;
  outline: none;
  padding: 0;
  font-size: 44pt;
  text-align: center;
  width: 100%;
  color: #909090;
  margin-bottom: 1rem;
}
.pontuacao,.tempo{
  position: absolute;
  z-index: 999
}
.pontuacao{right:50px}
.tempo{left:50px}
.tempo .progress{
height: 30px;
border: 2px solid #204a87
}
